/* Add these styles to your existing CSS file or create a new one */

h1 {
    color: #333; /* Change the color as per your preference */
    text-align: center;
  }
  
  .userNameInput,
  .passwordInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  /* Add more specific styles or adjustments as needed */
  .signupbutton {
    background-color: #4caf50; /* Change the color as per your preference */
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .signupbutton:hover {
    background-color: #45a049; /* Change the color as per your preference */
  }  